/* Start Menu */
/* Fixed To Top Start Menu */
.f-nav {
@apply top-0 left-0 w-full;
  z-index: 9999;
}
/* Fixed To Top End Menu */

.menu_bg {
  @apply bg-black;
}
.menu_bg_acc {
}
.menu_container {
  @apply top-0 w-full font-[1em] fixed text-center uppercase tracking-[0.05em] z-[99];
}
.menu_fit {
  @apply block w-full text-center;
}
.menu_fit .toggleMenu,
.menu_fit li {
  @apply text-left
}
.toggleMenu {
  @apply hidden w-full no-underline py-[1.2em] px-0 transition-all duration-500 ease-out font-black;
  /* background: url(../img/ico-menu.svg) no-repeat center center; */
  background-size: 1.5em;
  background-position: 96%;
  text-indent: 1.5em;
}
.nav {
  @apply font-black text-[0.55em] list-none	;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav ul {
  list-style: none;
  min-width: 17.2em;
  text-align: left;
} /* Beside menu width */
.nav a {
  @apply text-white transition-all duration-200 ease-out;
  padding: 1.4em 1em 1.2em 0.5em;
}
.nav li {
  @apply relative;
  margin-right: -5px;
}
.nav > li {
  display: inline-block; /*border-right: 1px solid rgba(255,255,255,0.15);*/
}
.nav > li a:hover {
  background: rgba(0, 0, 0, 0.95);
}
.nav > li > .parent {
  text-decoration: none;
}
.nav > li > a {
  @apply block;
  text-decoration: none;
}
.nav li ul {
  position: absolute;
  left: -9999px;
}
.nav > li.hover > ul {
  @apply left-0;
}
.nav li li.hover ul {
  @apply top-0;
  left: 100%;
}
.nav li li a {
  @apply block text-[1em] relative;
  letter-spacing: 0.02em;
  padding: 0.9em 1em;
  text-transform: none;
  font-family: "font_bold", Arial, Helvetica, sans-serif;
  z-index: 100;
  border-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  opacity: 0.85;
}
.nav li span,
.nav li li span {
  display: none;
}
.nav li.home img,
.nav li.adh img,
.nav li.contact img,
.nav li.advertisers img,
.nav li#rdpq img {
  width: 3em;
  height: 3em;
  margin: 0;
  vertical-align: middle;
}
.nav li.adh img {
  padding: 0 0.1em 0 0;
}

.nav li.contact img, nav li.home img, .nav li.advertisers img {
  padding: 0 0.25em 0 0;
}

.nav li#rdpq img {
  width: 6em;
  height: 1.7em;
  padding-left: 0.5em;
}

/* Starting arrow */
.nav li li span {
  @apply inline-block;
  width: 0.4em;
  height: 0.4em;
}
.nav li li li a {
  @apply opacity-95;
  font-size: 1em;
  z-index: 200;
  border-top: 0;
}
/* End Arrow */

.nav li li a:hover,
.nav li li li a:hover {
  @apply opacity-100
}
.nav li li a,
.nav li li li a,
.nav li li a:hover,
.nav li li li a:hover {
  @apply bg-black;
}

@media screen and (max-width: 1023px) {
  .menu_container {
    width: 100%;
  }
  .active {
    @apply block;
    background: url(/img/ico-menu.svg) no-repeat center center;
    background-size: 1.5em;
    background-position: 96%;
    padding: 1.2em 0 1.2em 0;
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .nav li a {
    @apply opacity-100;
    background: rgba(0, 0, 0, 0.85) !important;
    padding: 1.25em 0 1em 0.75em;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    font-size: 1.25em;
  }
  .nav li li a {
    @apply opacity-100;
    background: rgba(0, 0, 0, 0.2) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    font-size: 1.25em;
  }
  .nav li li li a {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3) !important;
    border-top: 1px solid rgba(255, 255, 255, 255.15);
    border-bottom: 0;
    font-size: 1.25em;
  }
  .nav li a:hover,
  .nav li li a:hover,
  .nav li li li a:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
  .nav li li a,
  .nav li li li a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
  }
  .nav > li {
    @apply block;
    border-right: none;
  }
  .nav ul {
    @apply block;
    width: 100%;
  }
  .nav > li.hover > ul,
  .nav li li.hover ul {
    @apply static;
  }

  .nav li.home img {
    padding: 0 0.5em 0 0;
  }
  .nav li.adh img {
    padding: 0 0.6em 0 0;
  }
  .nav li.contact img {
    padding: 0 0.6em 0 0;
  }
  .nav li.advertisers img {
    padding: 0 0.6em 0 0;
    margin-left: 0em;
  }
  .nav li#rdpq img {
    padding: 0 0.6em 0 0.75em;
  }

  /* Starting Arrow */
  .nav li span,
  .nav li li span {
    @apply hidden;
  }
  /* End Arrow */

  .f-nav {
    @apply static;
  }
  .menu_bg {
    @apply bg-black;
  }
  .menu_bg_acc {
    @apply bg-black;
  }
}
